@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

h1 {
    font-family: 'Righteous', cursive;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #e5e5e5;
    width: 100vw;
}

.bannertopo {
    position: fixed;
    width: 100vw;
    height: 92px;
    background-color: #CF2B2B;
    top: 0;
    right: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 1;
}

.bannertopo h1 {
    color: white;
    font-size: 44px;
    font-weight: 400;
    margin: 8px 0 0 21px;
}

.bannertopo p {
    color: white;
    font-size: 18px;
    margin: 5px 0 0 21px;
}

.cards {
    margin-top: 123px;
    margin-bottom: 108px;
    width: 100vw;
    
}

.cards::-webkit-scrollbar {
display: none;
  }
  

body h1 {
    font-size: 26px;
    margin-left: 19px;
}

.scroll-cards {
    width: 100vw;
    display: flex;
    margin-right: 16px;
    overflow-x: scroll;
    overflow-y: hidden;
    
}

.scroll-cards :last-child {
    margin-right: 16px;
}

.card {
    position: relative;
    margin: 17px 0 17px 16px;
    background-color: white;
    width: 172px;
    height: fit-content;
    border-radius: 9px;
    box-shadow: 0 0 10px -4px rgba(0, 0, 0, 0.25);
    box-sizing: content-box;
}

.card ion-icon {
    display: none;
}

.selecionado {
    border: #32B72F solid 5px;  
    margin: 12px -5px 12px 11px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}

.selecionado ion-icon {
    position: absolute;
    display: initial;
    bottom: 4.5%;
    left: 85%;
    color: #32B72F;
    font-size: 18px;
}

.card img {
    width: 144px;
    height: 87px;
    border-radius: 4px;
    margin: 18px 14px 0 14px;
    object-fit: cover;
}

.card h2 {
    margin: 8px 0 0 15px;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
}

.card p {
    margin: 4px 11px 0 14px;
    width: 85%;
    color: #a6a6a6;
    font-weight: 300;
    font-size: 15px;
}

.card h3 {
    margin: 10px 0 8px 14px;
    font-size: 16px;
    font-weight: 500;
}

.fecharpedido {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 92px;
    display: flex;
    justify-content: center;
    background-color: white;
}

.botao-selecionar {
    background-color: #cbcbcb;
    height: 61px;
    width: 85vw;
    border-radius: 50px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.botao-fechar {
    background-color: #32B72F;
    height: 61px;
    width: 85vw;
    border-radius: 50px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.escondido {
    display: none;
}

.botao-fechar h4 {
    color: white;
    font-size: 20px;
    font-weight: 700;
    line-height: 23.5px;
    
}

.botao-selecionar p {
    color: white;
    width: 55%;
    font-size: 20px;
    font-weight: 400px;
    line-height: 23.5px;
    text-align: center;
}